:root {
    --exito: #3ab65c;
    --error: #bf333b;
    --info: #1898c0;
    --warning: #bc8c12;
    --exito-hover: #2d8a46;
    --error-hover: #962a31;
    --info-hover: #147fa0;
    --warning-hover: #9b7512;
}

/* Toast */
.contenedor-toast {
    z-index: 2;
    position: fixed;
    right: 10px;
    bottom: 100px;
    width: 60%;
    max-width: 400px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

}

.toast {
    background: #ccc;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    animation-name: apertura;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    position: relative;
    height: 80px;
    align-items: center;
}

.toast.exito {
    background: var(--exito);
}

.toast.error {
    background: var(--error);
}

.toast.info {
    background: var(--info);
}

.toast.warning {
    background: var(--warning);
}

.toast .contenido {
    display: grid;
    grid-template-columns: 25px auto;
    align-items: center;
    gap: 5px;
    padding: 15px;
}

.toast .icono {
    color: rgba(0, 0, 0, 0.4);
}

.toast .titulo {
    margin: 0%;
    font-size: 14px;
    font-weight: 600;
    /* margin-bottom: 5px; */
}
.toast .descripcion {
    margin: 2px;
    font-size: 13px;
    font-weight: 600;
    /* margin-bottom: 5px; */
}
.toast .btn-cerrar {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    padding: 0px 5px;
    transition: 0.3s ease all;
    height: 100%;
}

.toast .btn-cerrar:hover {
    background: rgba(0, 0, 0, 0.3);
}

.toast .btn-cerrar .icono {
    width: 20px;
    height: 20px;
    color: #fff;
}

@keyframes apertura {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.toast.cerrando {
    animation-name: cierre;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes cierre {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(100% + 40px));
    }
}

.toast.autoCierre::after {
    content: '';
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    animation-name: autoCierre;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes autoCierre {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}



@media (min-width: 400px) {
    .toast .titulo {
        margin: 0%;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .contenedor-toast {
        z-index: 2;
        position: fixed;
        right: 10px;
        bottom: 100px;
        width: 50%;
        max-width: 400px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
}

/* @media (min-width: 785px) {}

@media (min-width: 980px) {} */

/* Este es el de mi pantalla */
@media (min-width: 1200px) {
    .toast .titulo {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .contenedor-toast {
        z-index: 2;
        position: fixed;
        right: 20px;
        bottom: 100px;
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .toast .contenido {
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
        gap: 15px;
        padding: 15px;
    }

}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}