body{
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--text-paragraph-color);
    margin: 0;
    padding: 0;
    min-width: 360px;
    scroll-margin-top: 80px;
}
html{
    scroll-behavior: smooth;
}
section[id]{
    scroll-margin-top: 6rem;
    /* border: solid 4px red; */
}
/* .observer{
    pointer-events: none;
    z-index: 1000;
    border: solid 4px blue;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
} */
main[id]{
    scroll-margin-top: 6rem;
}
.nav-desktop {
    z-index: 3;
    display: grid;
    grid-template-columns: 0.2fr 5fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* grid-template-columns: 0.2fr 2fr 0.2fr; */
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
}

.nav-desktop ul{
    margin: 0px;
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    list-style: none;
}
.nav-desktop a{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-paragraph-color);
}

.nav-desktop a:hover {
    color: var(--text-title-color);
    transition: 0.5s;
}
.nav-desktop a.selected {
    color: var(--text-title-color);
}
.nav-movile a.selected {
    color: var(--text-title-color);
}
/* .nav-desktop a::after {
    content: 'a';
    color: var(--text-title-color);
    position: relative;
    top: 100%;
} */


.nav-desktop img{
    padding: 0.5rem;
    align-self: center;
    justify-self: center;
    align-self: center;
    height: 70px;
    width: 70px;
}
.nav-desktop .nav-toggle{
    display: none;
    color: var(--primary-color);
    font-size: 3rem;
    justify-self: end;
    align-self: center;
    cursor: pointer;
    padding: 1rem;
}

.nav-movile ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    
}
.nav-movile{
    z-index: 3;
    display: none;
    position: fixed;
    top: 5.5rem;
    height: 0;
    padding: 0;
    right: 1rem;
    border-radius: 0 0 10px 10px;
    background-color: var(--secondary-color);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: height 0.2s, cubic-bezier(0.075, 0.82, 0.165, 1)
}

.nav-movile a{
    color: var(--text-paragraph-color);
    text-decoration: none;
}
.nav-movile.open{
    font-size: 1.2rem;
    gap: 0.5rem;
    height: auto;
    padding: 0.7rem;
}
.nav-movile a:hover {
    color: var(--text-title-color);
    transition: 0.5s;
}
@media (max-width: 785px) {
    .nav-desktop ul{
        display: none;
    }
    .nav-desktop .nav-toggle{
        display: block;
    }
    .nav-movile{
        display: block;
    }
}
.nav-movile a:hover{
    color: var(--text-title-color);
    transition: 0.5s;
}
main #inicio{
    scroll-padding-top: -80px;
    text-align: center;
    padding: 2rem;
}
    /* transform: rotate(90deg); */
/*Inicio*/
#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/laptop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    gap: 0.5rem;
}
#inicio::before{
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -6rem;
    min-width: 360px;
  /* background-color: rgba(0, 0, 0, 0.5); 
    filter: blur(5px) grayscale(80%); */
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(5px) grayscale(80%);
    z-index: 1;
}



.text{
    text-shadow: 2px 2px 4px #000000;
    z-index: 2;
    justify-items: center;
    text-align: center;
    width: 70%;
    margin-top: -10rem;
}
.text h1{
    color: var(--text-title-color);
    font-size: 3rem;
}
.text p{
    color: var(--text-paragraph-color);
    font-size: 1rem;
}

h2{
    color: var(--text-title-color);
    font-size: 1.2rem;
}




#sobre-mi{
    display: flex;
    grid-template-columns: 1fr;
    flex-direction: column;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 1rem;
    margin-top: 2rem;
}

#sobre-mi .foto{
    display: flex;
    justify-content: center;
    align-self: center;
    /* background-color: var(--primary-color); */
    margin: 1rem;
}
#sobre-mi .foto > img{
    width: 98%;
    height: 94%;
    border-radius: 20px;
}
#sobre-mi .info{
    justify-items: left;
    width: 100%;
    height: 100%;
}
#sobre-mi p{
    text-align: justify;
}
#sobre-mi h2{
    justify-self: center;
    font-size: 2.5rem;
}
#sobre-mi a{
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--text-title-color);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 18px;
    padding: 10px 20px;
    margin-top: 1rem;
    border: var(--text-title-color) 1px solid;
    display: inline-block;
}

#sobre-mi a:hover{

    background-color: var(--primary-color);
    color: var(--text-paragraph-color);
    transition: 0.5s ease;
    /* scale: 1; */
}

/*------------------ PROYECTOS --------------------------*/
#proyectos{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 20px;
    margin: 1rem;
    margin-top: 2rem;
}
#proyectos .titulo_proyectos{
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
}
#proyectos .container_cards{
    display: flex;
    /* background-color: #2fbb18; */
    overflow-x: scroll;
    gap: 1rem;
    padding: 0.5rem;
}
#proyectos .container_cards .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    flex-shrink: 0; /* Evita que las tarjetas se reduzcan */
    width: 18rem;
    height: auto;
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 19px 10px rgba(0, 0, 0, 0.5);
    scroll-snap-align: start;

}

#proyectos img{
    justify-self: center;
    align-self: center;
    padding: 5%;
    border-radius: 1.5rem;
    flex-shrink: 0;
    /* border-radius: 20px 20px 0px 0px; */
    width: 90%;
    height: 40vh;
}
#proyectos .container_cards .card .content_text{
    display: flex;
    flex-direction: column;
    margin: 0%;
    /* margin-bottom: 2rem; */
    width: 90%;
}

#proyectos .container_cards .card .content_text > h3{
    color: var(--text-title-color);
    font-size: 1.5rem;
    margin: 0%;
}

#proyectos .container_cards .card .content_text p{
    margin: 0%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    color: var(--text-paragraph-color);
    font-size: 1rem;
    text-align: justify;
}
/*--------- Rol -----------*/
#proyectos .container_cards .card .rol{
    align-self: center;
    width: 80%;
    text-align: start;
    margin: 0%;
    padding: 0.7rem;
    border-left: 3px solid var(--text-title-color);
    box-shadow: -7px 2px 10px 2px black;
    border-radius: 0px 10px 10px 0px;
}
/*------- Tecnología ------- */
.tecnologias{
    width: 90%;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#proyectos .container_cards .card .tecnologias .tecno{
    color: var(--text-title-color);
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    margin: 0%;
    width: fit-content;
}
/*------ GitHub ----------*/
.link-github{
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--text-title-color);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 13px;
    padding: 8px 15px;
    margin-bottom: 1rem;
    border: var(--text-title-color) 1px solid;
}
.link-github:hover{
    background-color: var(--primary-color);
    color: var(--text-paragraph-color);
    transition: 0.5s ease;
}
/* ----- Card hover ------ */
#proyectos .container_cards .card:hover{
    transform: scale(1.05);
    transition: 0.5s ease;
    box-shadow: 1px 1px 19px 10px rgba(0, 0, 0, 0.8);
}
.container_cards::-webkit-scrollbar {
  height: 12px;
}

.container_cards::-webkit-scrollbar-thumb,
.container_cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.container_cards::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

.container_cards::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

/* -------------- Interes y publicaciones ------------------- */
#intereses-Publicaciones{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 20px;
    margin: 1rem;
    margin-top: 2rem;
}
#intereses-Publicaciones h2{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;

}
/* -------------------Contacto -------------------- */
#contacto{
    /* border: #fa0000 1px solid; */
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}
/* ---------Contactame------------ */
#contactame{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 20px;
    width: auto;
    height: 88.3%;
}
#contactame h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
#contactame .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#contactame input{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    
}

#contactame #enviar-mensaje{
    width: 50%;
    max-width: 200px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--text-title-color);
    color: var(--primary-color);
    cursor: pointer;
    border: var(--text-title-color) 1px solid;
}
#contacto #contactame #enviar-mensaje:hover{
    background-color: var(--primary-color);
    color: var(--text-paragraph-color);

    transition: 0.5s ease;
}
/* ---------Para redes sociales------------ */
#contacto #redes-sociales{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    height: 88.3%;
    
}
#redes-sociales h2{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
#redes-sociales .links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
#redes-sociales a{
    text-decoration: none;
    color: var(--primary-color);
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    background-color: var(--text-title-color);
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid var(--text-title-color);
}
#redes-sociales i{
    margin-right: 8px;
}
#redes-sociales a:hover{
    background-color: var(--primary-color);
    color: var(--text-paragraph-color);
    transition: 0.5s;
}

/* ------------------- Footer -------------------- */


footer{
    background-color: var(--secondary-color);
    color: var(--text-paragraph-color);
    padding: 20px;
    text-align: center;
}

#button-traductor{
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--text-title-color);
    color: var(--primary-color);
    padding: 11px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: fixed;
    width: fit-content;
    right: 1rem;
    bottom: 5rem;
    border: 1px solid var(--text-title-color);
    }
#button-traductor i{
    margin-right: 8px;
}
#button-traductor:hover{
    background-color: var(--primary-color);
    color: var(--text-paragraph-color);
    transition: 0.5s;
}

/* Media Queries ya definidos para tamaños de pantallas */
@media (min-width: 400px) {

    .text{
        margin-top: -8rem;
        width: 70%;
    }
    .text h1{
        font-size: 3rem;
    }
    .text p{
        font-size: 1.2rem;
    }
    #proyectos .container_cards .card .content_img{
        width: 47vh;
        height: 50vh;
    }
    #proyectos .container_cards{
        gap: 1rem;
        padding: 1rem;
    }

    /* body > #traductor{
        bottom: 5rem;
    } */
    #button-traductor{
        font-size: 1rem;
        padding: 9px 16px;
    }

}
@media (min-width: 785px) {
    .text{
        margin-top: -8rem;
        width: 60%;
    }
    .text h1{
        font-size: 3rem;
    }
    .text p{
        font-size: 1.2rem;
    }

    #proyectos .container_cards{
        gap: 1rem;
        padding: 1rem;
    }
    #contacto{
        grid-template-columns: 1fr 1fr;
    }

    /* body > #traductor{
        bottom: 7rem;
    } */
    #button-traductor{
        font-size: 0.8rem;
        padding: 8px 15px;
    }

}

@media (min-width: 980px) {
    .text{
        margin-top: -7rem;
        width: 70%;
    }
    .text h1{
        font-size: 4rem;
    }
    .text p{
        font-size: 1.5rem;
    }

    #sobre-mi{
        flex-direction: row;
        text-align: left;
    }
    #sobre-mi .foto{
        width: 400px;
        height: 400px;
    }
    #sobre-mi .info{
        padding: 2rem;
    }
    #sobre-mi h2{
        justify-self:start;
        font-size: 3rem;
    }
    #sobre-mi p{
        font-size: 1.5rem;
    }
    #sobre-mi a{
        padding: 15px 25px;
        font-size: 1.3rem;
    }

    #proyectos .titulo_proyectos{
        font-size: 3rem;
    }
    #proyectos .container_cards{
        gap: 1rem;
        padding: 2rem;
    }


    /* body > #traductor{
        bottom: 5rem;
    } */
    #button-traductor{
        font-size: 1rem;
        padding: 12px 20px;
    }

}
/* Este es el de mi pantalla */
@media (min-width: 1200px) {
    .nav-desktop ul{
        padding: 15px 15px;
    }
    .nav-desktop img{
        height: 60px;
        width: 60px;
    }
    .nav-desktop a{
        font-size: 1.3rem;
        text-decoration: none;
        color: var(--text-paragraph-color);
    }

    .text{
        margin-top: -10rem;
        width: 40%;
    }
    .text h1{
        font-size: 3.50rem;
    }
    .text p{
        font-size: 1.5rem;
    }

    /* #sobre-mi .foto{
        width: 380px;
        height: 380px;
    } */
    #sobre-mi .foto > img{
        width: fit-content;
        height: 94%;
    }
    #sobre-mi .info{
        padding: 1.2rem;
    }
    #sobre-mi h2{
        justify-self: start;
        font-size: 2.5rem;
    }
    #sobre-mi p{
        font-size: 1.3rem;
    }
    #sobre-mi a{
        padding: 15px 23px;
        font-size: 1rem;
    }
    /* ------Proyectos-------- */
    #proyectos .titulo_proyectos{
        justify-self: center;
        align-self: center;
        font-size: 2.5rem;
    }
    #proyectos .container_cards{
        gap: 3rem;
        padding: 1rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }



    /* body > #traductor{
        bottom: 6rem;
    } */
    #button-traductor{
        border-radius: 20px;
        font-size: 1.3rem;
        padding: 16px 25px;
    }
}
@media (min-width: 1400px) {
    .text{
        margin-top: -11rem;
        width: 40%;
    }
    .text h1{
        font-size: 4rem;
    }
    .text p{
        font-size: 1.8rem;
    }

    /* ----Proyectos---- */
    #proyectos .container_cards{
        gap: 2rem;
        padding: 2rem;
    }
    #proyectos .container_cards .card{
        width: 28rem;
        height: auto;
    }

    #proyectos img{
        border-radius: 2.5rem;
        width: 90%;
        height: 40vh;
    }
}

@media (min-width: 1600px) {
    .nav-desktop ul{
        padding: 25px 25px;
    }
    .nav-desktop img{
        height: 80px;
        width: 80px;
    }
    .nav-desktop a{
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--text-paragraph-color);
    }
    .text{
        margin-top: -12rem;
        width: 40%;
    }
    .text h1{
        font-size: 4.2rem;
    }
    .text p{
        font-size: 2rem;
    }
    /* ----Proyectos---- */
    #proyectos .container_cards{
        gap: 2rem;
        padding: 2rem;
    }
    #proyectos .container_cards .card{
        width: 28rem;
        height: auto;
    }

    #proyectos img{
        border-radius: 2.5rem;
        width: 90%;
        height: 40vh;
    }


    /* body > #traductor{
        bottom: 10rem;
    } */
    #button-traductor{
        border-radius: 25px;
        font-size: 1.8rem;
        padding: 20px 35px;
    }
}



:root {
    --font-family: "helvetica", monospace;
    --primary-color: #000;
    --secondary-color: #1e1e19;
    --text-title-color: #2fbb18;
    --text-paragraph-color: #fff;
}
:root {
    --primary-color: #000;
    --secondary-color: #1e1e19;
    --text-title-color: #2fbb18;
    --text-paragraph-color: #fff;
}
