body{
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--text-paragraph-color);
    margin: 0;
    padding: 0;
    min-width: 360px;
    scroll-margin-top: 80px;
}
html{
    scroll-behavior: smooth;
}
section[id]{
    scroll-margin-top: 6rem;
}
main[id]{
    scroll-margin-top: 6rem;
}
nav {
    z-index: 3;
    display: grid;
    grid-template-columns: 0.2fr 5fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* grid-template-columns: 0.2fr 2fr 0.2fr; */
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
}

nav ul{
    margin: 0px;
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    list-style: none;
}
nav a{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-paragraph-color);
}

nav a:hover {
    color: var(--text-title-color);
    transition: 0.5s;
}

nav img{
    padding: 0.5rem;
    align-self: center;
    justify-self: center;
    align-self: center;
    height: 70px;
    width: 70px;
}
nav .nav-toggle{
    display: none;
    color: var(--primary-color);
    font-size: 3rem;
    justify-self: end;
    align-self: center;
    cursor: pointer;
    padding: 1rem;
}

.nav-movile ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    
}
.nav-movile{
    z-index: 3;
    display: none;
    position: fixed;
    top: 5.5rem;
    height: 0;
    padding: 0;
    right: 1rem;
    border-radius: 0 0 10px 10px;
    background-color: var(--secondary-color);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: height 0.2s, cubic-bezier(0.075, 0.82, 0.165, 1)
}

.nav-movile a{
    color: var(--text-paragraph-color);
    text-decoration: none;

}
.nav-movile.open{
    font-size: 1.2rem;
    gap: 0.5rem;
    height: auto;
    padding: 0.7rem;
}
.nav-movile a:hover {
    color: var(--text-title-color);
    transition: 0.5s;
}
@media (max-width: 785px) {
    nav ul{
        display: none;
    }
    nav .nav-toggle{
        display: block;
    }
    .nav-movile{
        display: block;
    }
}
.nav-movile a:hover{
    color: var(--text-title-color);
    transition: 0.5s;
}
main #inicio{
    scroll-padding-top: -80px;
    text-align: center;
    padding: 2rem;
}
    /* transform: rotate(90deg); */
/*Inicio*/
#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/laptop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    gap: 0.5rem;
}
#inicio::before{
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -6rem;
  /* background-color: rgba(0, 0, 0, 0.5); 
    filter: blur(5px) grayscale(80%); */
   background-color: rgba(0, 0, 0, 0.4);
    filter: blur(5px) grayscale(80%);

  z-index: 1;

}



.text{
    text-shadow: 2px 2px 4px #000000;
    z-index: 2;
    justify-items: center;
    text-align: center;
    width: 20%;
    margin-top: -1rem;
}
.text h1{
    color: var(--text-title-color);
    font-size: 3rem;
}
.text p{
    color: var(--text-paragraph-color);
    font-size: 1.2rem;
}

h2{
    color: var(--text-title-color);
    font-size: 1.2rem;
}




#sobre-mi{
    display: flex;
    grid-template-columns: 1fr;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 1rem;
}

#sobre-mi .foto{
    align-self: center;
    background-color: var(--primary-color);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 1rem;
}
#sobre-mi .info{
    justify-items: left;
    width: 100%;
    height: 100%;
}
#sobre-mi p{
    text-align: justify;
}
#sobre-mi h2{
    justify-self: center;
    font-size: 2.5rem;
}
#sobre-mi a{
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--text-title-color);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 18px;
    padding: 10px 20px;
    margin-top: 1rem;
    display: inline-block;
}

#sobre-mi a:hover{
    border: var(--text-title-color) 2px solid;
    background-color: var(--primary-color);
    color: var(--text-paragraph-color);
    transition: 0.5s ease;
    /* scale: 1; */
}
@media (min-width: 980px) {
    #sobre-mi{
        flex-direction: row;
        text-align: left;
    }
    #sobre-mi .foto{
    width: 400px;
    height: 400px;
    }
    #sobre-mi .info{
        padding: 2rem;
    }
    #sobre-mi h2{
        justify-self:start;
        font-size: 3rem;
    }
    #sobre-mi p{
        font-size: 1.5rem;
    }
    #sobre-mi a{
        padding: 15px 25px;
        font-size: 1.3rem;
    }
}

footer{
    background-color: var(--secondary-color);
    color: var(--text-paragraph-color);
    padding: 20px;
    text-align: center;
}
body > #traductor{
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 98%;
    bottom: 10rem;
}

#button-traductor{
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--text-title-color);
    color: var(--primary-color);
    padding: 11px 20px;
    border: 1px solid var(--text-title-color);
    border-radius: 15px;
    cursor: pointer;

    }
#button-traductor:hover{
    background-color: var(--primary-color);
    color: var(--text-paragraph-color);
    transition: 0.5s;
}

@media (min-width: 400px) {
    .text{
        margin-top: -1rem;
        width: 20%;
    }
    .text h1{
        font-size: 3rem;
    }
    .text p{
        font-size: 1.2rem;
    }
    body > #traductor{
        bottom: 5rem;
    }
    #button-traductor{
        font-size: 0.7rem;
        padding: 5px 10px;
    }
}
@media (min-width: 785px) {
    .text{
        margin-top: -2rem;
        width: 30%;
    }
    .text h1{
        font-size: 4rem;
    }
    .text p{
        font-size: 1.5rem;
    }
    body > #traductor{
        bottom: 7rem;
    }
    #button-traductor{
        font-size: 0.8rem;
        padding: 8px 15px;
    }
}
@media (min-width: 980px) {
    .text{
        margin-top: -7rem;
        width: 40%;
    }
    .text h1{
        font-size: 5rem;
    }
    .text p{
        font-size: 2rem;
    }
    body > #traductor{
        bottom: 5rem;
    }
    #button-traductor{
        font-size: 1.3rem;
        padding: 15px 25px;
    }
}
@media (min-width: 1200px) {
    .text{
        margin-top: -10rem;
        width: 50%;
    }
    .text h1{
        font-size: 6rem;
    }
    .text p{
        font-size: 2.5rem;
    }
    body > #traductor{
        bottom: 8rem;
    }
    #button-traductor{
        font-size: 1.5rem;
        padding: 20px 30px;
    }
}



:root {
    --font-family: "Fira Code", monospace;
    --primary-color: #000;
    --secondary-color: #1e1e19;
    --text-title-color: #2fbb18;
    --text-paragraph-color: #fff;
}
:root {
    --primary-color: #000;
    --secondary-color: #1e1e19;
    --text-title-color: #2fbb18;
    --text-paragraph-color: #fff;
}